body {
  font-family: verdana, sans-serif;
}
#container {
  width: 60%;
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0 0 20px;
  padding: 20px;
}
h1 {
  border-bottom: 1px solid;
margin: 0 10%;
  text-align: center;
}
